.task {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    background-color: aliceblue;
}
.task textarea, .task input {
    display: flex;
    justify-content: center;
    margin: 10px;
}